<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/modules/html2canvas.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/modules/jspdf.umd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js" type="module"></script>
<script src="{{ site.baseurl }}/assets/js/libs/iframeResizer.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/resize.js"></script>
<script src="{{ site.baseurl }}/assets/js/modules/handleCopyClick.js"></script>
<script>
    // Función para traducir el contenido de elementos con la clase especificada
    const sidebarScriptContent =
        document.getElementById("sidebar-script").innerText;
    async function translateText() {
        const subscriptionKey = "faf48684aab84958aa0ad9bea172126a";
        const endpoint = "https://api.cognitive.microsofttranslator.com/";
        const version = "3.0";

        document.getElementById("sidebar-script").innerText = "";

        // Clase de elementos a traducir
        const elementClass = "translatedContent";

        // Obtener el idioma seleccionado del selector
        const selectedLanguage = document.getElementById("language").value;

        console.log("Idioma seleccionado:", selectedLanguage);
        try {
            // Obtener una lista de elementos con la clase especificada
            const elements = document.getElementsByClassName(elementClass);

            // Iterar sobre los elementos y traducir su contenido
            for (const contentElement of elements) {
                const originalHTML = contentElement.innerHTML;
                console.log("HTML original:", originalHTML);

                // Dividir el HTML en segmentos de texto e imágenes
                const segments = originalHTML.split(/(<img\b[^>]*>)/g);

                // Traducir solo los segmentos de texto
                const translatedSegments = await Promise.all(
                    segments.map(async (segment) => {
                        if (segment.startsWith("<img")) {
                            // Mantener la etiqueta de imagen sin traducción
                            return segment;
                        } else {
                            // Traducir el segmento de texto
                            const response = await fetch(
                                `${endpoint}/translate?api-version=${version}&to=${selectedLanguage}`,
                                {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                        "Ocp-Apim-Subscription-Key":
                                            subscriptionKey,
                                    },
                                    body: JSON.stringify([{ text: segment }]),
                                }
                            );

                            if (!response.ok) {
                                throw new Error(
                                    "Error en la solicitud de traducción"
                                );
                            }

                            const result = await response.json();
                            return result[0].translations[0].text;
                        }
                    })
                );

                // Reemplazar el contenido con los segmentos traducidos
                contentElement.innerHTML = translatedSegments.join("");

                console.log("HTML traducido:", contentElement.innerHTML);
            }
        } catch (error) {
            console.error("Error:", error.message);
        }

        // Cerrar el selector de idioma
        document.getElementById("sidebar-script").innerText =
            sidebarScriptContent;
        closeLanguageSelector();
    }

    function closeLanguageSelector() {
        var languageSelector = document.getElementById("languageSelector");
        var languageDropdown = document.getElementById("language");

        languageDropdown.style.display = "none";
        languageSelector.removeEventListener("click", closeLanguageSelector);
    }
</script>
