<!DOCTYPE html>
<html id="sg" {% if site.language %} lang="{{ site.language }}" {% endif %}>
    <head>
        {% include header.html %}
        <style>
            #languageSelector img {
                transition: box-shadow 0.3s; /* Agrega una transición suave */
                border-radius: 50%;
            }

            #languageSelector img:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        </style>
    </head>

    <body id="sg">
        <div class="sg-pusher" style="display: flex">
            {% include sidebar.html %}
            <main
                id="sgMain"
                class="sg-main"
                style="
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    padding: 20px;
                "
            >
                <div
                    id="languageSelector"
                    style="
                        position: absolute;
                        right: 45px;
                        top: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                    "
                >
                    <img
                        src="{{ site.baseurl }}/assets/images/ic_language.svg"
                        alt=""
                        onclick="toggleLanguageSelector()"
                        style="cursor: pointer; height: 30px; width: 30px"
                    />
                    <select
                        id="language"
                        onchange="translateText(); closeLanguageSelector();"
                        style="
                            padding: 3px;
                            display: none;
                            margin-top: 10px;
                            border: 1px solid #000;
                            border-radius: 5px;
                            cursor: pointer;
                        "
                    >
                        <option value="es" style="cursor: pointer">
                            Español
                        </option>
                        <option value="en" style="cursor: pointer">
                            Inglés
                        </option>
                        <option value="pt" style="cursor: pointer">
                            Portugués
                        </option>
                        <!-- Agrega más opciones según tus necesidades -->
                    </select>
                </div>

                <div
                    style="
                        flex-grow: 1;
                        margin-left: 285px;
                        box-sizing: border-box;
                        overflow-y: auto;
                    "
                >
                    {{ content }}
                </div>

                <!-- {% include footer.html %} -->
            </main>
        </div>
        <script>
            function toggleLanguageSelector() {
                var languageSelector = document.getElementById("language");
                languageSelector.style.display =
                    languageSelector.style.display === "none" ||
                    languageSelector.style.display === ""
                        ? "inline-block"
                        : "none";
            }
        </script>
        {% include scripts.html %}
    </body>
</html>
