<!DOCTYPE html>
<html id="sg" {% if site.language %} lang="{{ site.language }}" {% endif %}>
    <head>
        {% include header.html %}
    </head>

    <body id="sg" style="display: flex; min-height: 100vh; margin: 0">
        <div
            class="sg-pusher"
            style="display: flex; flex-direction: column; width: 100%"
        >
            {% include sidebar.html %}
            <main id="sgMain" class="sg-main" style="flex: 1; padding: 20px">
                <div
                    id="languageSelector"
                    style="position: absolute; right: 10px"
                >
                    <label for="language">Seleccionar idioma:</label>
                    <select id="language">
                        <option value="es">Español</option>
                        <option value="en">Inglés</option>
                        <option value="pt">Portugués</option>
                        <!-- Agrega más opciones según tus necesidades -->
                    </select>
                    <button onclick="translateText()">Traducir</button>
                </div>
                {{ content }}
                <!-- {% include footer.html %} -->
            </main>
        </div>
        {% include scripts.html %}
    </body>
</html>
