---
layout: default
---

<header id="mastheadArea" class="sg_masthead">
    <div class="sg_contain" style="padding: 0">
        <div class="head">
            {% include GA_Script.html %}
            <!-- Buscador Aranda docs -->
            <div class="row no-gutters">
                {% if site.title != "Aranda Database" %}
                <div class="col-auto">
                    <div class="pdf">
                        <a
                            id="convertPDF"
                            class="mb-2 ml-5"
                            href="{{ site.baseurl }}/assets/{{site.baseurl | remove_first: '/'}}.pdf"
                            download
                        >
                            <img
                                src="{{ site.baseurl }}/assets/images/icon-pdf.svg"
                                width="64"
                                alt="Adobe PDF"
                                id="pdf-ic"
                            />
                            <h1 class="translatedContent">Descargar PDF</h1>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- Adding result container -->
            <div class="row">
                <ul id="result-box"></ul>
            </div>
            <!-- Adding result container -->

            <!-- Buscador Aranda docs -->
            <!-- <div id="no-results"><p class="item-title">No hay resultados para la busqueda </p></div> -->
            <div class="title header typo_ostrich translatedContent">
                {{ page.title }}
            </div>
            {% if page.info %}
            <div class="sub_title typo_crow">{{ page.info }}</div>
            {% endif %}
        </div>
        {% if page.nav == true %}
        <aside id="nav">
            <div class="header typo_hummingbird">Contents</div>
            <ul></ul>
        </aside>
        {% endif %}
    </div>
</header>

<article id="documentationArea" class="sg_doc">
    <div class="translatedContent sg_contain" id="article-content">
        {{ content }}
    </div>
</article>

<script>
    // Glosario de traducciones
    const translations = {
        es: "Descargar PDF",
        en: "Download PDF",
        pt: "Baixar PDF",
    };

    // Obtener el idioma de la URL
    const params = window.location.pathname.split("/");
    const lang = params[2] || "es"; // Si no se especifica idioma, por defecto es español (es)

    // Obtener el texto traducido
    const translatedText = translations[lang];

    // Asignar el texto traducido al elemento HTML
    document.querySelector(".translatedContent").textContent = translatedText;
</script>
